<h1>Here are the books</h1>
<hr/>

<% @books.each do |book| %>
  <h3><%= link_to book.title, book_path(book) %></h3>
  <p><%= book.author.full_name %></p>
<% end %>

<%= form_tag(books_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
